.sidebarContainer{
    flex: 3;
    height: calc(100vh - 56px);
    border: 1px solid red;
}

.sidebarWrapper{
    padding: 5px 10px;
}

.sidebarItmesList{
    background-color: #282828;
    padding: 3px 10px;
    border-radius: 15px;
}

.sidebarItems{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 250ms ease;
}

.sidebarItems:hover{
    background-color: #696969;
}

.itemText{ 
    margin: 0px 15px;
}